DISCORD_TOKEN=your_discord_token_here
DISCORD_APPLICATION_ID=your_discord_application_id_here
STEAM_API_KEY=your_steam_api_key_here
TWITCH_CLIENT_ID=your_twitch_client_id_here
TWITCH_CLIENT_SECRET=your_twitch_client_secret_here
